//Hotfix
$tablet-width: 768px;
$desktop-width: 1024px;
$phone-width: 360px;

.text-danger {
    color: $brand-danger;
}

.panel-paradays {
    background-color: transparent;
    border-color: #373737;
    border-width: medium;

    .panel-heading {
        background-color: inherit;
        border-bottom-style: dashed;
        border-bottom-color: #373737;
        border-bottom-width: thin;
    }

    ul.list-group {
        background-color: inherit;

        li.list-group-item {
            background-color: inherit;
            border-top-style: dashed;
            border-top-color: #373737;
            border-top-width: thin;
            border-bottom-style: dashed;
            border-bottom-color: #373737;
            border-bottom-width: thin;
            padding: 5px 10px;
        }
    }
}

.product {
    display: block;
    height: auto;
    border-top-color: #373737;
    border-top-style: dashed;
    border-top-width: thin;
    border-right-color: #373737;
    border-right-style: dashed;
    border-right-width: thin;
    border-left-color: #373737;
    border-left-style: dashed;
    border-left-width: thin;
    margin-right: 14px;
    margin-left: 14px;
    padding: 10px;
    &:last-child{
    border-bottom-color: #373737;
    border-bottom-style: dashed;
    border-bottom-width: thin;
    }

    .row {
        .product-img {
            a {
                img {
                    transition: all .2s ease-in-out;
                }
                img:hover {
                    transform: scale(1.1);
                }
            }
        }

        .product-option {
            h2 {
                margin: 0;
                padding-top: 10px;
                padding-bottom: 10px;
                font-size: 20px;
                font-weight: 500;
                color: #FDA803;
            }
        }

        .product-checkout {
            display: table-cell;
            vertical-align: bottom;
        }
    }
}

.padding-left-zero {
    padding-left: 0;

    @media (max-width: 991px) {
        padding-right: 0;
    }
}

.product-container {
    border-color: #373737;
    border-width: medium;
    border-style: solid;
    padding: 10px;
}

ol.breadcrumb {
    margin-left: auto;
    margin-right: auto;
    width: auto;
    background-color: transparent;
    padding-bottom: 0;

    a {
        color: #fff;
    }
}

//Navbar
.navbar-one {
    min-height: 22px;

    .container {
        ul.list-inline {
            margin-bottom: 0;
            padding-left: 5px;

            li {
                padding: 5px;
                border-bottom-style: solid;
                border-bottom-color: #252525;
                border-bottom-width: medium;

                a {
                    color: #fff;
                }

                &.kuning {
                    padding-left: 10px;
                    padding-right: 10px;
                    border-bottom-color: #FDA803;
                }

                &:hover {
                    color: #fff;
                    border-bottom-color: #FDA803;
                }
            }
        }

        .navbar-header {
            .navbar-toggle {}
        }
    }
}

.navbar-two {
    .navbar-header {
        .navbar-toggle {
            float: none;
            background-color: transparent;
            color: #fff;
            border-color: #fff;
            border-width: medium;
            font-weight: bold;

            &:hover {
                background-color: #fff;
                color: #030303;
            }
        }
    }
}

.nav-pills {
    @media (max-width: 500px) {
        margin-bottom: 10px;
    }
}

// Modals
.modal-fs {
    background-color: #000000;
    height: 100%;
    width: 100%;

    .modal-dialog {
        border: none;
        color: #fff;
        background-color: inherit;

        .modal-content {
            border: none;
            color: #fff;
            background-color: inherit;
        }
    }
}